body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #81b7b0;
    line-height: 25px;
    /* the tradition to set width and height - adapted to the screen size */
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    min-width: 300px;
    max-width: 500px;
    width: 60vw;
    margin: 0 auto;

}

.account-type {
    padding: 0;
}


fieldset {
    border: none;
    padding: 0;
}

.top-line, .bottom-line {
    border: 1.5px solid rgb(24, 85, 24);
    margin: 25px 0 25px 0;
}


#first-name,  #last-name, #user-email, #user-pwd, #user-age, #user-bio, #platform-select, #profile-picture {
    background-color: #C0EEF2;
}

/* #user-bio {
    height: 60px;
    width: 100%;
} */

#submit-btn {
    background: linear-gradient(180deg, cyan, green);
    border: 2px solid #41a99d; 
    
}

a, :visited {
    color: black;
}

a:hover {
    color: blue;
}

.terms-and-conditions {
    margin: 20px 0 20px 0;
}